<div
  class="h-max min-h-screen py-10 w-full flex flex-col items-center justify-center bg-gradient-to-br from-purple via-red to-white dark:to-gray"
>
  <div class="w-80 md:w-96 bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-center">Registro</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Correo electronico</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>

      <div class="mb-4">
        <label for="phone" class="block text-gray-700 text-sm font-bold mb-2"
          >Telefono:</label
        >
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>

      <div class="mb-4">
        <label for="birthday" class="block text-gray-700 text-sm font-bold mb-2"
          >Fecha de nacimiento:</label
        >
        <input
          type="date"
          id="birthday"
          formControlName="birthday"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>
      <div class="mb-4">
        <label
          for="password_confirmation"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Confirm Password</label
        >
        <input
          type="password"
          id="password_confirmation"
          formControlName="password_confirmation"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>

      <div class="mb-4">
        <label for="ci" class="block text-gray-700 text-sm font-bold mb-2"
          >Cedula de identidad:</label
        >
        <input
          type="text"
          id="ci"
          formControlName="ci"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>

      <div class="flex justify-center items-center">
        <button
          type="submit"
          class="bg-red text-white px-4 py-3 rounded hover:bg-red/80"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
  <div class="clear-start hover:underline mt-4">
    <a href="/login" class="text-white mt-4">Ya tienes cuenta? Inicia sesion</a>
  </div>
</div>
