@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* src/styles.css */
* {
  font-family: "Encode Sans";
  src: url("/assets/fonts/EncodeSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
