@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-delay: 0ms;
}

* {
  transition-property: fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-delay: 0ms;
}

.font-anta {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
