<nav
  class="w-full border-b border-dashed border-black dark:border-white flex flex-col mb-3 py-3 px-5"
>
  <ul class="flex ml-2 items-center dark:text-white text-black">
    <div
      class="flex flex-grow basis-0 [&>li]:text-lg gap-2 [&>li]:bg-white [&>li]:rounded-xl dark:[&>li]:bg-gray-600 [&>li]:px-2 [&>li]:py-1"
    >
      <li class="hover:bg-red text-black">
        <a href="/dashboard/appointments/all" matTooltip="ver todas las citas">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-file"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
            <path
              d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
            />
          </svg>
        </a>
      </li>
    </div>

    <span class="flex flex-col">
      <span class="text-xs underline">buscar cita</span>
      <div class="flex flex-row items-center justify-items-center gap-2">
        <input
          type="text"
          placeholder="Codigo"
          id="code"
          class="bg-transparent border border-dotted border-black dark:border-white px-4 py-2 rounded-2xl"
          (keyup.enter)="searchappointment()"
        />

        <button type="button" (click)="searchappointment()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-search"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M21 21l-6 -6" />
          </svg>
        </button>
      </div>
    </span>
  </ul>
</nav>
<router-outlet></router-outlet>
