<nav class="w-full border-b border-dashed border-white flex flex-col py-3 px-5">
  <ul
    class="flex ml-2 items-center [&>li]:text-lg gap-2 [&>li]:bg-white [&>li]:rounded-xl dark:text-white text-black dark:[&>li]:bg-gray-600 [&>li]:px-2 [&>li]:py-1"
  >
    <li class="hover:bg-orange-500 text-black">
      <a
        href="/dashboard/appointments/all"
        matTooltip="ver todas las citas"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-file"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M14 3v4a1 1 0 0 0 1 1h4" />
          <path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>
