<nav
  class="bg-white text-black fixed w-full top-0 left-0 z-50 shadow-md"
  aria-label="Main Navigation"
>
  <div class="container mx-auto w-full px-4 py-2 flex justify-evenly">
    <div class="text-2xl font-bold flex basis-0 items-center w-full">
      <a class="hover:text-gray-400" aria-label="Inicio">HealthCare</a>
    </div>
    <ul class="flex space-x-10 items-center justify-center">
      <li>
        <a class="hover:text-gray-400" aria-label="Inicio">Inicio</a>
      </li>
      <li>
        <a class="hover:text-gray-400" aria-label="Servicios">Servicios</a>
      </li>
      <li>
        <a class="hover:text-gray-400" aria-label="Servicios">Servicios</a>
      </li>
      <li>
        <a class="hover:text-gray-400" aria-label="Sobre Nosotros"
          >Sobre Nosotros</a
        >
      </li>
      <li>
        <a class="hover:text-gray-400" aria-label="Contacto">Contacto</a>
      </li>
    </ul>
    <div class="flex space-x-2 basis-0 w-full">
      <!-- (click)="toggleLanguage()" -->
      <!-- <a
        class="text-nowrap px-2 py-1 flex items-center justify-center font-encode-sans text-sm leading-6 font-normal bg-white rounded-xl text-primary"
      >
        Registrarse
      </a> -->

      <a
        href="/login"
        class="text-nowrap w-max px-2 py-1 font-encode-sans text-sm leading-6 font-normal text-white bg-primary rounded-xl hover:bg-secondary"
      >
        Iniciar Sesión
      </a>
    </div>
  </div>
</nav>
<!-- main -->
<main class="h-screen w-screen flex items- justify-center">
  <section class="w-full pt-16 bg-white">
    <div
      class="items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24"
    >
      <div class="flex w-full mx-auto text-left">
        <div class="flex justify-center items-start w-full">
          <img
            src="https://th.bing.com/th/id/OIP.t3gZp5ZM8tusmGZNrfQXBgHaJo?rs=1&pid=ImgDetMain"
            alt="hero"
            class="w-16 h-16 rounded-full -translate-y-10 -translate-x-14"
          />
          <div class="text-center">
            <h1>
              <span
                class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl"
              >
                Saca tu cita online <br class="hidden lg:block" />
                Solo en <strong class="text-primary">Proadent</strong>
              </span>
            </h1>
            <p
              class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500"
            >
              Gratis, Sencillo, Rápido y Seguro. nuestro sistema de citas online
              te permite agendar tu cita en clinica proadent de manera rapida y
              segura.
            </p>
            <div
              class="flex justify-center w-full max-w-2xl gap-2 mx-auto mt-6"
            >
              <div class="mt-3 rounded-lg sm:mt-0">
                <button
                  class="items-center block px-5 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-primary lg:px-10 rounded-xl hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                >
                  Get bundle
                </button>
              </div>
            </div>
          </div>
          <img
            src="https://th.bing.com/th/id/OIP.t3gZp5ZM8tusmGZNrfQXBgHaJo?rs=1&pid=ImgDetMain"
            alt="hero"
            class="w-16 h-16 rounded-full"
          />
        </div>
      </div>
    </div>
  </section>
</main>
