<!-- Mini Navbar -->
<div
  class="w-full h-16 bg-white text-black px-4 py-2 fixed top-0 z-10 flex justify-between items-center shadow-sm"
>
  <section class="text-3xl border-b-4 border-primary flex">
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="37"
        height="37"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-dental ml-1"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 5.5c-1.074 -.586 -2.583 -1.5 -4 -1.5c-2.1 0 -4 1.247 -4 5c0 4.899 1.056 8.41 2.671 10.537c.573 .756 1.97 .521 2.567 -.236c.398 -.505 .819 -1.439 1.262 -2.801c.292 -.771 .892 -1.504 1.5 -1.5c.602 0 1.21 .737 1.5 1.5c.443 1.362 .864 2.295 1.262 2.8c.597 .759 2 .993 2.567 .237c1.615 -2.127 2.671 -5.637 2.671 -10.537c0 -3.74 -1.908 -5 -4 -5c-1.423 0 -2.92 .911 -4 1.5z"
        />
        <path d="M12 5.5l3 1.5" />
      </svg>
    </span>
    <span class="mx-2 font-black text-3xl">Health Care</span>
  </section>
  <section class="hidden xl:block">
    <button>
      <img
        src="https://avatars.githubusercontent.com/u/56120605?v=4"
        alt="profile"
        class="w-8 h-8 rounded-full"
      />
    </button>
  </section>

  <button class="block lg:hidden text-black" (click)="toggleSidebar()">
    <!-- Icono del menú para móviles -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      />
    </svg>
  </button>
</div>

<div class="flex h-screen pt-16">
  <!-- Sidenav -->
  <div
    class="w-64 h-full bg-white text-black fixed lg:translate-x-0 transform transition-transform duration-300 ease-in-out border-r border-gray-200"
    [class.-translate-x-full]="!isSidebarOpen && isMobile()"
    [class.z-50]="isSidebarOpen && isMobile()"
  >
    <ul class="space-y-4 p-4">
      <li
        (click)="gotoMe()"
        class="text-xl flex space-x-3 hover:text-primary hover:bg-primary/20 rounded-lg p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path
            d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
          />
        </svg>
        <span>Mi perfil</span>
      </li>
      <li
        (click)="gotoAppointments()"
        class="text-xl flex space-x-3 hover:text-primary hover:bg-primary/20 rounded-lg p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3"
          />
          <path d="M16 3v4" />
          <path d="M8 3v4" />
          <path d="M4 11h10" />
          <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
          <path d="M18 16.5v1.5l.5 .5" />
        </svg>
        <span>Appointment</span>
      </li>
      <li
        (click)="gotoClinics()"
        class="text-xl flex space-x-3 hover:text-primary hover:bg-primary/20 rounded-lg p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-history-toggle"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
          <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
          <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
          <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
          <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
          <path d="M12 8v4l3 3" />
        </svg>
        <span>Clinics</span>
      </li>
      <li>Logout</li>
    </ul>
  </div>

  <!-- Main content -->
  <div class="flex-1 lg:ml-64 p-4">
    <!-- Main Content Area -->
    <router-outlet></router-outlet>
  </div>
</div>
