<body
  class="bg-gradient-to-l py-10 from-red via-purple to-black min-h-screen h-full flex flex-col items-center justify-center antialiased"
>
  <div class="container mx-auto">
    <div>
      <div
        class="bg-white shadow rounded-lg w-5/6 md:w-5/6 lg:w-4/6 xl:w-3/6 mx-auto"
      >
        <div class="flex justify-center">
          <img
            src="https://avatars.akamai.steamstatic.com/99a5d0782a0cccc95a3bfbad35aca9d51a77a5a4_full.jpg"
            alt=""
            class="rounded-full mx-auto w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110"
          />
        </div>

        <div class="mt-16">
          <h1 class="font-bold text-center text-3xl text-gray-900">
            {{ fullname ? fullname : "Cargando..." }}
          </h1>
          <p
            class="text-center text-sm text-gray-400 font-medium flex justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              />
              <path d="M3 7l9 6l9 -6" />
            </svg>
            {{ email ? email : "Cargando..." }}
          </p>
          <p class="flex justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-id"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
              />
              <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M15 8l2 0" />
              <path d="M15 12l2 0" />
              <path d="M7 16l10 0" />
            </svg>
            {{ ci ? ci : "Cargando..." }}
          </p>

          <div class="my-1 px-6 text-center">
            <p class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-cake"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z" />
                <path
                  d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197"
                />
                <path
                  d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"
                /></svg
              >{{ birthdate }}
            </p>
            <p class="flex items-center justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-phone"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                />
              </svg>
              {{ phone }}
            </p>
            <p class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-user-circle"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path
                  d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
                /></svg
              >{{ roledescription }}
            </p>
          </div>

          <div class="w-full">
            <h3 class="font-medium text-gray-900 text-left font-lg px-6">
              Historial de citas
            </h3>
            <div
              class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm"
            >
              @for(appointment of appointments; track appointment){

              <div class="border-t border-dotted-4 border-black w-full">
                <div
                  class="text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150"
                >
                  <span
                    class="text-gray-500 font-bold mb-2 text-xs md:text-base block"
                    >Fecha de la cita: {{ appointment.date }}
                  </span>

                  <li class="flex items-center">
                    estado:
                    <div
                      class="ml-2 px-2 py-1 rounded mr-3"
                      [style]="getAppointmentStyle(appointment.status)"
                    >
                      {{ appointment.status === "pending" ? "Pendiente" : "" }}
                      {{
                        appointment.status === "completed" ? "Completada" : ""
                      }}
                      {{
                        appointment.status === "cancelled" ? "Cancelada" : ""
                      }}
                      {{
                        appointment.status === "confirmed" ? "Confirmada" : ""
                      }}
                    </div>
                    <span class="pl-3 border-l border-dashed">
                      razon: {{ appointment.reason }}
                    </span>
                  </li>

                  <span
                    class="text-gray-500 text-xs md:text-md py-1 mt-1 border-t border-dashed w-full block"
                    >Creado: {{ appointment.createdAt }}
                  </span>
                  <span class="text-gray-500 text-xs md:text-md block"
                    >Actualizado: {{ appointment.createdAt }}
                  </span>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
