<div
  class="h-screen w-screen flex flex-col items-center justify-center bg-gradient-to-br from-purple via-red to-white dark:from-purple dark:via-red dark:to-gray"
>
  <section class="w-80 md:w-96 bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-center">Iniciar Sesion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Correo</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
          >Contraseña</label
        >
        <input
          formControlName="password"
          class="w-full p-2 border border-gray-300 rounded"
          id="password"
          type="password"
          type="password"
          id="password"
        />
      </div>
      <div class="flex justify-center items-center">
        <button
          type="submit"
          class="bg-red hover:bg-red/80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Iniciar Sesion
        </button>
      </div>
    </form>
  </section>
</div>
