<div
  class="bg-white text-dark min-h-screen dark:bg-gray dark:text-white [&>*]:transition-colors [&>*]:ease-in-out [&>*]:duration-100 [&>*]:delay-75 transition-colors ease-in-out duration-300 delay-75"
>
  <app-navbar></app-navbar>
  @if(welcomeContent){
  <main
    class="pt-14 border-b bg-no-repeat bg-cover min-h-svh flex flex-col items-center justify-center border-black"
    style="
      background-image: url(https://img.freepik.com/premium-photo/dental-implants-surgery-concept-3d-rendering_460848-3777.jpg?size=626&ext=jpg);
    "
  >
    <div
      class="w-2/3 md:w-1/3 p-5 h-auto bg-white dark:border dark:border-white dark:bg-black dark:text-white rounded-xl text-center text-black"
    >
      <div>
        <img
          src="https://avatars.akamai.steamstatic.com/99a5d0782a0cccc95a3bfbad35aca9d51a77a5a4_full.jpg"
          alt=""
          class="rounded-full mx-auto w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110"
        />
        <p class="text-xl font-bold">
          Bienvenido al sistema de gestion de la clinica proadent
        </p>
        <p>
          Podras manejar a los usuarios, ver las citas pendientes, ver el
          historial de cada paciente, entre mucho mas
        </p>
        <p>Si tienes alguna duda, puedes contactar a soporte tecnico</p>
        <p class="flex flex-col border border-dotted rounded-lg px-4 py-2">
          <a
            href="mailto:horaciocorteznoe@gmail.com"
            class="hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all ease-in-out duration-300 hover:scale-105"
          >
            Horacio Cortez - Horaciocorteznoe&#64;gmail.com
          </a>
          <a
            href="mailto:widdoctor@gmail.com"
            class="hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition-all ease-in-out duration-300 hover:scale-105"
          >
            Jose Montanio - Widdoctor&#64;gmail.com
          </a>
        </p>
        <a
          href="/dashboard/appointments"
          class="px-4 py-2 rounded-lg bg-red text-white"
        >
          Empezar!
        </a>
      </div>
    </div>
  </main>

  } @if(!welcomeContent){
  <div class="w-full h-full pt-14">
    <router-outlet></router-outlet>
  </div>
  }
  <button
    (click)="toggleTheme()"
    class="bg-gray dark:bg-yellow-400 bottom-0 m-4 right-0 text-white dark:text-black flex items-center justify-center fixed p-2 rounded-lg"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 block dark:hidden"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
      <path
        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 hidden dark:block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"
      />
    </svg>
  </button>
</div>
