<section
  class="bg-orange-500 dark:bg-gray-900 flex py-2 px-1 items-center fixed w-full top-0 left-0 max-h-10 min-h-10"
>
  <img
    src="../../assets/Calatin.JPG"
    class="h-auto w-12 border-r border-white pr-2"
  />
  <ul
    class="flex ml-2 items-center [&>li]:text-lg gap-2 [&>li]:bg-white [&>li]:rounded-xl dark:text-white text-black dark:[&>li]:bg-gray-600 [&>li]:px-2 [&>li]:py-1"
  >
    <li>
      <a href="/dashboard/altas/colors/mycolors" matTooltip="Altas">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-shirt"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 4l6 2v5h-3v8a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-8h-3v-5l6 -2a3 3 0 0 0 6 0"
          />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/sales" matTooltip="Ventas">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-report-analytics"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          />
          <path
            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          />
          <path d="M9 17v-5" />
          <path d="M12 17v-1" />
          <path d="M15 17v-3" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/ecommerce" matTooltip="Ecommerce">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-building-store"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 21l18 0" />
          <path
            d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
          />
          <path d="M5 21l0 -10.15" />
          <path d="M19 21l0 -10.15" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/founds" matTooltip="Fondos">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-businessplan"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
          <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
          <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
          <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
          <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
          <path d="M5 15v1m0 -8v1" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/tools" matTooltip="Herramientas">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-tool"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5"
          />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/sign" matTooltip="Seña">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-ticket"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M15 5l0 2" />
          <path d="M15 11l0 2" />
          <path d="M15 17l0 2" />
          <path
            d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"
          />
        </svg>
      </a>
    </li>

    <li>
      <a href="/dashboard/stock" matTooltip="Stock">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-forklift"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M14 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M7 17l5 0" />
          <path d="M3 17v-6h13v6" />
          <path d="M5 11v-4h4" />
          <path d="M9 11v-6h4l3 6" />
          <path d="M22 15h-3v-10" />
          <path d="M16 13l3 0" />
        </svg>
      </a>
    </li>
    @if (User.Role == "admin") {
    <li>
      <a href="/dashboard/config" matTooltip="Configuracion">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-nut"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 6.84a2.007 2.007 0 0 1 1 1.754v6.555c0 .728 -.394 1.4 -1.03 1.753l-6 3.844a1.995 1.995 0 0 1 -1.94 0l-6 -3.844a2.006 2.006 0 0 1 -1.03 -1.752v-6.557c0 -.728 .394 -1.399 1.03 -1.753l6 -3.582a2.049 2.049 0 0 1 2 0l6 3.582h-.03z"
          />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        </svg>
      </a>
    </li>

    }
  </ul>
  <ul class="flex ml-auto gap-2 items-center">
    <li class="text-white">{{ TimeNow }}</li>
    <div class="relative">
      <button
        class="cursor-pointer flex items-center text-white border dark:border-gray-500 border-white py-1 px-2 rounded-lg"
        (click)="toggleProfile()"
      >
        @if(isLoading){
        <svg
          class="animate-spin h-4 w-4 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V2.83a1 1 0 011.7-.71l6 6a1 1 0 010 1.41l-6 6a1 1 0 01-1.41-1.41L14.59 7A6 6 0 004 12"
          ></path>
        </svg>
        }
        {{ UserName }}
        <svg
          class="fill-current h-4 w-4 ml-2 transform transition duration-200"
          [class.rotate-180]="UserProfile"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          />
        </svg>
      </button>
      @if (UserProfile) {
      <ul
        class="absolute right-0 mt-2 bg-white [&>li]:text-sm text-gray-800 dark:bg-gray-900 dark:text-white rounded shadow-lg py-2 w-max [&>li]:py-1 [&>li]:px-2 text-left"
      >
        <li>
          {{ User.FullName }}
        </li>

        <li>
          {{ User.Email }}
        </li>
        <li>
          {{ User.Role }}
        </li>
        <li
          (click)="logout()"
          class="hover:bg-red-500 hover:text-white transition-colors ease-in duration-300 delay-100 m-2 rounded-lg cursor-pointer"
        >
          Cerrar sesión
        </li>
      </ul>
      }
    </div>
  </ul>
</section>
