<nav
  class="h-14  w-full min-h-14 max-h-14 bg-red fixed top-0 left-0 flex py-2 px-1 items-center"
>
  <img
    src="/assets/logoproadent.png"
    class="h-auto w-12 border-r border-white pr-2"
  />
  <ul
    class="flex ml-2 items-center [&>li]:text-lg gap-2 [&>li]:bg-white [&>li]:rounded-xl dark:text-white text-black dark:[&>li]:bg-gray [&>li]:px-2 [&>li]:py-1"
  >
    <li>
      <a href="/dashboard/config" matTooltip="Configuracion">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-nut"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 6.84a2.007 2.007 0 0 1 1 1.754v6.555c0 .728 -.394 1.4 -1.03 1.753l-6 3.844a1.995 1.995 0 0 1 -1.94 0l-6 -3.844a2.006 2.006 0 0 1 -1.03 -1.752v-6.557c0 -.728 .394 -1.399 1.03 -1.753l6 -3.582a2.049 2.049 0 0 1 2 0l6 3.582h-.03z"
          />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        </svg>
      </a>
    </li>
  </ul>
  <ul class="flex ml-auto gap-2 items-center">
    <li class="text-white flex items-center justify-center">
      <div
        class="flex flex-col items-center border-r border-dashed border-white pr-1"
      >
        <span class="uppercase text-xs font-bold">{{ time.dayname }}</span>
        <span class="m-0 text-[19px]"> {{ time.time }} </span>
      </div>
      <div class="flex flex-col items-center pl-1">
        <span class="text-[19px]">{{ time.day }}</span>
        <span class="uppercase text-xs font-bold">{{ time.month }}</span>
      </div>
    </li>
    <div class="relative">
      <!-- add toggle profile -->
      <button
        class="cursor-pointer flex items-center text-white border dark:border-gray-500 border-white py-1 px-2 rounded-lg"
      >
        <svg
          class="animate-spin h-4 w-4 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V2.83a1 1 0 011.7-.71l6 6a1 1 0 010 1.41l-6 6a1 1 0 01-1.41-1.41L14.59 7A6 6 0 004 12"
          ></path>
        </svg>

        name
        <!-- [class.rotate-180]="UserProfile" -->
        <svg
          class="fill-current h-4 w-4 ml-2 transform transition duration-200"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          />
        </svg>
      </button>
      <ul
        class="absolute right-0 mt-2 bg-white [&>li]:text-sm text-gray-800 dark:bg-gray-900 dark:text-white rounded shadow-lg py-2 w-max [&>li]:py-1 [&>li]:px-2 text-left"
      >
        <li>name</li>

        <li>email</li>
        <li>role</li>
        <li
          class="hover:bg-red-500 hover:text-white transition-colors ease-in duration-100 m-2 rounded-lg cursor-pointer"
        >
          Cerrar sesión
        </li>
      </ul>
    </div>
  </ul>
</nav>
