<nav
  class="h-14 z-40 w-full min-h-14 max-h-14 bg-red fixed top-0 left-0 flex py-2 px-1 items-center"
>
  <img
    src="/assets/logoproadent.png"
    class="h-auto w-12 border-r border-white pr-2"
  />
  <ul
    class="hidden md:flex ml-2 items-center [&>li]:text-lg gap-2 [&>li]:bg-white [&>li]:rounded-xl dark:text-white text-black dark:[&>li]:bg-gray [&>li]:px-2 [&>li]:py-1 [&>*]:transition-all [&>*]:ease-in-out [&>*]:duration-200"
  >
    <li class="">
      <a href="/dashboard/appointments" matTooltip="Citas">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-file-pencil"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M14 3v4a1 1 0 0 0 1 1h4" />
          <path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          />
          <path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/price" matTooltip="Presupuesto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-coin"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path
            d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"
          />
          <path d="M12 7v10" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/accountreciavable" matTooltip="Cuentas por pagar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-report-money"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          />
          <path
            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          />
          <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
          <path d="M12 17v1m0 -8v1" />
        </svg>
      </a>
    </li>
    <li>
      <a href="/dashboard/config" matTooltip="Configuracion">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-nut"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 6.84a2.007 2.007 0 0 1 1 1.754v6.555c0 .728 -.394 1.4 -1.03 1.753l-6 3.844a1.995 1.995 0 0 1 -1.94 0l-6 -3.844a2.006 2.006 0 0 1 -1.03 -1.752v-6.557c0 -.728 .394 -1.399 1.03 -1.753l6 -3.582a2.049 2.049 0 0 1 2 0l6 3.582h-.03z"
          />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        </svg>
      </a>
    </li>
  </ul>
  <ul class="md:hidden flex ml-2 gap-2 items-center" (click)="toggleMenu()">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>
    @if(mobileMenu){

    <ul
      class="z-20 absolute top-0 mt-12 bg-white [&>li]:text-sm text-gray-800 dark:bg-gray dark:text-white rounded shadow-lg py-2 w-max [&>li]:py-1 [&>li]:px-2 text-left dark:border dark:border-dashed dark:border-white"
    >
      <a
        href="/dashboard/appointments"
        matTooltip="Citas"
        class="flex gap-4 px-3 py-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-file-pencil"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M14 3v4a1 1 0 0 0 1 1h4" />
          <path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          />
          <path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z" />
        </svg>
        Citas
      </a>
      <a
        href="/dashboard/price"
        matTooltip="Presupuesto"
        class="flex gap-4 px-3 py-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-coin"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path
            d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"
          />
          <path d="M12 7v10" />
        </svg>
        Presupuesto
      </a>
      <a
        href="/dashboard/accountreciavable"
        matTooltip="Cuentas por pagar"
        class="flex gap-4 px-3 py-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-report-money"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          />
          <path
            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          />
          <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
          <path d="M12 17v1m0 -8v1" />
        </svg>
        Cuentas
      </a>
      <a
        href="/dashboard/config"
        matTooltip="Configuracion"
        class="flex gap-4 px-3 py-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-nut"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 6.84a2.007 2.007 0 0 1 1 1.754v6.555c0 .728 -.394 1.4 -1.03 1.753l-6 3.844a1.995 1.995 0 0 1 -1.94 0l-6 -3.844a2.006 2.006 0 0 1 -1.03 -1.752v-6.557c0 -.728 .394 -1.399 1.03 -1.753l6 -3.582a2.049 2.049 0 0 1 2 0l6 3.582h-.03z"
          />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        </svg>
        Configuracion
      </a>
    </ul>
    }
  </ul>
  <ul class="flex ml-auto gap-2 items-center">
    <li class="text-white flex items-center justify-center">
      <div
        class="flex flex-col items-center border-r border-dashed border-white pr-1"
      >
        <span class="uppercase text-xs font-bold">{{ time.dayname }}</span>
        <span class="m-0 text-[14px] md:text-[19px]"> {{ time.time }} </span>
      </div>
      <div class="flex flex-col items-center pl-1">
        <span class="text-[14px] md:text-[19px]">{{ time.day }}</span>
        <span class="uppercase text-xs font-bold">{{ time.month }}</span>
      </div>
    </li>
    <div class="relative">
      <!-- add toggle profile -->
      @if(user){

      <button
        class="cursor-pointer flex items-center justify-center text-white border dark:border-gray-500 border-white py-1 px-2 rounded-lg"
        (click)="toggleProfile()"
      >
        <svg
          class="animate-spin h-4 w-4 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          hidden="!user"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V2.83a1 1 0 011.7-.71l6 6a1 1 0 010 1.41l-6 6a1 1 0 01-1.41-1.41L14.59 7A6 6 0 004 12"
          ></path>
        </svg>
        <span class="md:block hidden">
          {{ user.fullName ? user.fullName : "cargando..." }}
        </span>
        <span class="md:hidden block"> Mi Perfil </span>
        <svg
          class="fill-current h-4 w-4 ml-2 transform transition duration-200"
          [class.rotate-180]="userProfile"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          />
        </svg>
      </button>
      @if(userProfile){

      <ul
        class="absolute right-0 mt-2 bg-white [&>li]:text-sm text-gray-800 dark:bg-gray dark:text-white rounded shadow-lg py-2 w-max [&>li]:py-1 [&>li]:px-2 text-left dark:border dark:border-dashed dark:border-white"
      >
        <li>{{ user.fullName ? user.fullName : "cargando..." }}</li>

        <li>{{ user.email ? user.email : "cargando..." }}</li>
        <li>{{ user.role.name ? user.role.name : "cargandooo." }}</li>
        <li
          class="hover:bg-red hover:text-white border border-dotted border-gray transition-colors ease-in duration-100 m-2 rounded-lg cursor-pointer"
          (click)="logout()"
        >
          Cerrar sesión
        </li>
      </ul>
      } }
    </div>
  </ul>
</nav>
